@import "mixin";

header {
  .nav-bar-1 .nav-link.active::after,
  .nav-bar-1 .nav-link:hover::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
  }
  .nav-bar-2 .nav-link {
    transition: all 0.5s ease-in;
  }
  .nav-bar-2 .nav-link:hover {
    transform: translateY(-4px);
  }
  .navbar-before-scroll .nav-bar-2 .nav-link:hover {
    color: #fff;
  }
  .navbar-after-scroll .nav-bar-2 .nav-link:hover {
    color: #4f4f4f;
  }

  h2 {
    @include fade(200ms, "onLoad");
  }
  h1 {
    @include fade(400ms, "onLoad");
  }
  .head-ani-3 {
    @include fade(600ms, "onLoad");
  }
}
.container {
  section > :first-child {
    .proj-card-1 {
      @include fade(200ms, "onScroll");
    }
  }
}

@media (max-width: 991.98px) {
  header {
    #home {
      .home-left {
        background: url(../img/web-design-2038872_1921.jpg);
        background-size: cover;
      }
      h1,
      h2,
      i {
        color: #fff;
      }
    }
  }
}
@media (max-width: 450px) {
  header {
    #home {
      h1 {
        font-size: 20px;
      }
    }
  }
}
